*{
    margin: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: Arial; 
}

/* Style the header */
.header {
    position: fixed;
    height: 20%; 
    width: 100%;
    background-color: white;
    text-align: center;   
}

.header img{
    width: 250px;
}

/* Style the top navigation bar */
.topnav {
    position: relative;
    display: flex;
    height: 40%;
    width: 100%;
    background-color: black;
    font-size: 15px;
}


ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 50%;
}

ul li {
    height: 100%;
    width: 15%;
    list-style: none;
    padding-top: 20px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
}

ul li a:hover {
    color: lightblue;
}


ul li ul {
    position: absolute;
    display: none;
    height: auto;
    width: 8%;
    padding-right: 0;
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
 }

 ul li:hover ul {
    display: block;
 }


/* Create three unequal columns that floats next to each other */
.column {
    padding: 10px;
    border: solid  lightgray 1px;
    background-color: white;
    text-align: center;
    font-family: arial;
    margin: 1%;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15%;
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 49%;

}

img.fifa19{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 140px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    position: relative;
    height: 50%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 2% 0 2% 0;
    text-align: center;
}

#menu_checkbox, #showmenu {        
    display: none; 
}

label{
    display: none;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        margin-top: 30%;
        width: 100%;
    }

    #menu_checkbox:checked ~ ul {       
        display: block;    
    }
    
  
    
    label{
        display: block;
        margin-left: 5%;
    }

    .topnav {
        position: absolute;
        display: flex;
        height: 40%;
        width: 100%;
        background-color: black;
        font-size: 15px;
    }
    
    
    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: -10%;
        justify-content: space-between;
        padding-right: 0;
    }
    
    ul li {
        width: 30%;
        padding: 5% 0;
        background-color: black;
    
    }
    
    ul li ul {
        display: none;
        position: relative;
        top: -100%;
        left: 100%;
        height: auto;
        width: 100%;
        padding: 0 30%;
        background-color: black;
        text-align: center;
     }
    
     ul li:hover ul {
        display: block;
     }

     ul li ul li {
         margin-bottom: 50%;
     }
}